* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins";
}

body {
  background-color: #ebebeb;
}

@font-face {
  font-family: "pixel";
  src: url("../assets/font/VCR_OSD_MONO_1.001.ttf");
}
.intro {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}
.intro .logoHeader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Poppins";
  display: flex;
  align-items: center;
}
.intro .logoHeader .logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  padding-right: 10px;
}
.intro .logoHeader .active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.intro .logoHeader .fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.intro .logoHeader img {
  width: 80px;
}

@media (max-width: 737px) {
  .intro {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
  }
  .intro .logoHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  .intro .logoHeader .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    padding-right: 10px;
  }
  .intro .logoHeader .active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }
  .intro .logoHeader .fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
  .intro .logoHeader img {
    width: 80px;
  }
}
body {
  background-color: red;
  height: 200vh;
  overflow-x: hidden;
  position: relative;
}
body .popupContainer {
  position: fixed;
  top: -100vh;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 350px;
  height: 350px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
  transition: all 2s;
  border-radius: 5px;
  z-index: 6;
}
body .popupContainer .popup {
  width: 93%;
  height: 90%;
  align-items: center;
  border-radius: 10px;
  background-color: #f7f9f9;
  justify-content: center;
  position: relative;
}
body .popupContainer .popup p {
  font-size: 12px;
  font-family: "poppins";
  color: #a3a3a3;
  padding: 10px 20px 10px 20px;
  text-align: justify;
}
body .popupContainer .popup .logoPopup {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .popupContainer .popup .logoPopup span {
  font-size: 20px;
  font-family: "poppins";
}
body .popupContainer .popup .logoPopup img {
  width: 50px;
}
body .popupContainer .popup button {
  position: absolute;
  right: -8px;
  top: -16px;
  color: #a3a3a3;
  cursor: pointer;
  border: none;
  background-color: #ebebeb;
  font-size: 12px;
}

@media (max-width: 737px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  body .popupContainer {
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 350px;
    height: 350px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
    transition: all 2s;
    border-radius: 5px;
    z-index: 6;
  }
  body .popupContainer .popup {
    width: 93%;
    height: 90%;
    align-items: center;
    border-radius: 10px;
    background-color: #f7f9f9;
    justify-content: center;
    position: relative;
  }
  body .popupContainer .popup p {
    font-size: 12px;
    font-family: "poppins";
    color: #a3a3a3;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
  body .popupContainer .popup .logoPopup {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .popupContainer .popup .logoPopup span {
    font-size: 20px;
    font-family: "poppins";
  }
  body .popupContainer .popup .logoPopup img {
    width: 50px;
  }
  body .popupContainer .popup button {
    position: absolute;
    right: -8px;
    top: -16px;
    color: #a3a3a3;
    cursor: pointer;
    border: none;
    background-color: #ebebeb;
    font-size: 12px;
  }
}
body .blureado2 {
  transition: all 1.3s ease;
}
body main .blureado3 {
  transition: all 1s ease;
}
body .blur {
  filter: blur(3px);
  transition: 1s ease;
  z-index: 1;
}

header nav {
  background-color: #f7f9f9;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  position: relative;
  overflow: hidden;
}
header nav .logoNav {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
header nav .logoNav span {
  font-family: "Poppins";
  font-size: 30px;
}
header nav .logoNav img {
  width: 60px;
}
header nav .navMenu {
  display: flex;
  align-items: center;
  font-family: "Poppins";
}
header nav .navMenu li {
  padding: 7px;
  color: #d1d1d1;
  transition: 1s;
  cursor: pointer;
}
header nav .navMenu li a {
  transition: 1s;
  color: #d1d1d1;
}
header nav .navMenu li a:hover {
  color: #a3a3a3;
}
header nav #carrito {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d1d1d1;
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}
header nav #carrito .fa-cart-shopping {
  font-size: 23px;
  color: #f7f9f9;
  position: absolute;
  top: 52%;
  left: 47%;
  transform: translate(-50%, -50%);
}
header nav #carrito .circuloCantidad {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #a3a3a3;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}
header nav #carrito .circuloCantidad span {
  color: #f7f9f9;
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header nav .showCarrito {
  right: 0px;
}
header nav .menuContainer {
  display: none;
}

@media (max-width: 737px) {
  body header nav .logoNav {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  body header nav .logoNav span {
    font-family: "Poppins";
    font-size: 20px;
  }
  body header nav .logoNav img {
    width: 40px;
  }
  body header nav .navMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    width: 145px;
    height: 100vh;
    position: fixed;
    right: -145px;
    margin-left: 0px;
    top: 0;
    background-color: #d1d1d1;
    transition: 1s;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1254901961);
    z-index: 1;
  }
  body header nav .navMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
  }
  body header nav .navMenu li a {
    color: #f7f9f9;
    padding-top: 0px;
  }
  body header nav #carrito {
    margin-right: 0px;
  }
  body header nav .show {
    right: 0px;
  }
  body header nav .menuContainer {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #f7f9f9;
    margin-right: 20px;
    transition: 1s;
    z-index: 2;
  }
  body header nav .opacity {
    transition: 1s;
    opacity: 50%;
    color: #a3a3a3;
  }
  body header .irArriba {
    position: fixed;
  }
  .hidden {
    overflow: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
