@charset "UTF-8";
* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins";
}

body {
  height: 100vh;
}

@font-face {
  font-family: "pixel";
  src: url("../assets/font/VCR_OSD_MONO_1.001.ttf");
}
html {
  /* Personalizar la barra de desplazamiento */
  /* Fondo de la barra de desplazamiento */
  /* La barra de desplazamiento misma */
  /* Cambio de color cuando el mouse pasa sobre la barra */
}
html ::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra vertical */
  height: 12px; /* Altura de la barra horizontal (si existe) */
  display: block;
}
html ::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo del track */
  border-radius: 5px; /* Bordes redondeados */
}
html ::-webkit-scrollbar-thumb {
  background-color: #909090; /* Color de la barra */
  border-radius: 10px; /* Bordes redondeados para suavidad */
  border: 2px solid transparent; /* Espacio entre el scrollbar y el track */
  background-clip: padding-box; /* Asegura que el borde sea visible */
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambia el color cuando está en hover */
}

body .intro {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}
body .intro .logoHeader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Poppins";
  display: flex;
  align-items: center;
}
body .intro .logoHeader .logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  padding-right: 10px;
}
body .intro .logoHeader .active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
body .intro .logoHeader .fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
body .intro .logoHeader img {
  width: 80px;
}

@media (max-width: 737px) {
  body .intro {
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 120vh;
    background-color: #161616;
    transition: 1s;
  }
  body .intro .logoHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  body .intro .logoHeader .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    padding-right: 10px;
  }
  body .intro .logoHeader .active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }
  body .intro .logoHeader .fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
  body .intro .logoHeader img {
    width: 80px;
  }
}
body {
  overflow-x: hidden;
}
body .popupContainer {
  position: fixed;
  top: -100vh;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 350px;
  height: 350px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
  transition: all 2s;
  border-radius: 5px;
  z-index: 6;
}
body .popupContainer .popup {
  width: 93%;
  height: 90%;
  align-items: center;
  border-radius: 10px;
  background-color: #f7f9f9;
  justify-content: center;
  position: relative;
}
body .popupContainer .popup p {
  font-size: 12px;
  font-family: "poppins";
  color: #a3a3a3;
  padding: 10px 20px 10px 20px;
  text-align: justify;
}
body .popupContainer .popup .logoPopup {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .popupContainer .popup .logoPopup span {
  font-size: 20px;
  font-family: "poppins";
}
body .popupContainer .popup .logoPopup img {
  width: 50px;
}
body .popupContainer .popup button {
  position: absolute;
  right: -8px;
  top: -16px;
  color: #a3a3a3;
  cursor: pointer;
  border: none;
  background-color: #ebebeb;
  font-size: 12px;
}

@media (max-width: 737px) {
  body {
    overflow-x: hidden;
    position: relative;
  }
  body .popupContainer {
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 350px;
    height: 350px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1254901961);
    transition: all 2s;
    border-radius: 5px;
    z-index: 6;
  }
  body .popupContainer .popup {
    width: 93%;
    height: 90%;
    align-items: center;
    border-radius: 10px;
    background-color: #f7f9f9;
    justify-content: center;
    position: relative;
  }
  body .popupContainer .popup p {
    font-size: 12px;
    font-family: "poppins";
    color: #a3a3a3;
    padding: 10px 20px 10px 20px;
    text-align: justify;
  }
  body .popupContainer .popup .logoPopup {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .popupContainer .popup .logoPopup span {
    font-size: 20px;
    font-family: "poppins";
  }
  body .popupContainer .popup .logoPopup img {
    width: 50px;
  }
  body .popupContainer .popup button {
    position: absolute;
    right: -8px;
    top: -16px;
    color: #a3a3a3;
    cursor: pointer;
    border: none;
    background-color: #ebebeb;
    font-size: 12px;
  }
}
body {
  transition: all 1s;
}
body #blureado {
  transition: all 1s;
}
body #blureado #blureado2 {
  transition: all 1s;
}
body #blureado .blureado2 {
  transition: all 1s;
  filter: blur(5px);
}
body .blureado {
  filter: blur(5px);
}

html ::-webkit-scrollbar {
  display: none;
}
html body header nav {
  background-color: #f7f9f9;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  position: relative;
  overflow: hidden;
}
html body header nav .logoNav {
  transition: all 1s;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
html body header nav .logoNav span {
  font-family: "Poppins";
  font-size: 25px;
}
html body header nav .logoNav img {
  width: 50px;
}
html body header nav .nav {
  display: flex;
  margin-right: 50px;
}
html body header nav .nav .navMenu {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  margin-right: 40px;
  transition: all 0.5s;
}
html body header nav .nav .navMenu .opcionMenu {
  padding: 7px;
  color: #d1d1d1;
  transition: 0.5s;
  cursor: pointer;
  font-size: 14px;
}
html body header nav .nav .navMenu .opcionMenu a {
  transition: 1s;
  color: #d1d1d1;
}
html body header nav .nav .navMenu .opcionMenu a:hover {
  color: #a3a3a3;
}
html body header nav .nav #carrito {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d1d1d1;
  position: relative;
  z-index: 7;
  cursor: pointer;
}
html body header nav .nav #carrito .fa-cart-shopping {
  font-size: 23px;
  color: #f7f9f9;
  position: absolute;
  top: 52%;
  left: 47%;
  transform: translate(-50%, -50%);
}
html body header nav .nav #carrito .circuloCantidad {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #a3a3a3;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}
html body header nav .nav #carrito .circuloCantidad span {
  color: #f7f9f9;
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html body header nav .carritoListarContainer {
  z-index: 6;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 190px;
  height: 100%;
  position: fixed;
  right: -190px;
  top: 0;
  background-color: #f7f9f9;
  transition: 1s;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1882352941);
  border: solid 0.5px #d1d1d1;
  border-radius: 5px;
}
html body header nav .carritoListarContainer .carritoListar {
  border: solid 1px #d1d1d1;
  margin: 5px;
  width: auto;
  height: auto;
  max-height: 60vh;
  justify-content: center;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
html body header nav .carritoListarContainer .carritoListar::-webkit-scrollbar {
  width: 9px;
  color: #a90a0a;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito {
  display: flex;
  width: 100%;
  margin: 5px;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito img {
  width: 70px;
  object-fit: cover;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .dataCarrito {
  width: 100%;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .dataCarrito .cNombre {
  width: 100%;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .dataCarrito2 {
  display: flex;
  height: 20px;
  align-items: center;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .dataCarrito2 .cPrecio {
  width: 50%;
  color: green;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad .btnQuitar {
  color: #d1d1d1;
  transition: 0.5s;
  margin: 0px 3px;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad .btnQuitar:hover {
  color: rgb(248, 124, 124);
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad .btnQuitar:hover:active {
  transition: none;
  color: red;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad .cCantidad {
  font-size: 15px;
  color: #a3a3a3;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad .btnAgregar {
  color: #d1d1d1;
  transition: 0.5s;
  margin: 0px 3px;
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad .btnAgregar:hover {
  color: rgb(108, 230, 108);
}
html body header nav .carritoListarContainer .carritoListar .productoCarrito .cBtnsCantidad .btnAgregar:hover:active {
  color: rgb(0, 215, 0);
  transition: none;
}
html body header nav .carritoListarContainer .carritoListar .line {
  width: 90%;
  height: 1px;
  background-color: #d1d1d1;
  margin: auto;
}
html body header nav .carritoListarContainer .total {
  font-size: 15px;
  text-align: right;
  margin-right: 15px;
  color: #707070;
}
html body header nav .carritoListarContainer .total #totalCarrito {
  color: green;
}
html body header nav .carritoVacio {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
html body header nav .carritoVacio p {
  color: #a3a3a3;
  font-size: 13px;
}
html body header nav .showCarrito {
  right: 0px;
}
html body header nav .menuContainer {
  display: none;
}
html .hidden {
  overflow: hidden;
}

@media (max-width: 737px) {
  html body header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
    position: relative;
    overflow: hidden;
  }
  html body header nav .logoNav {
    padding-left: 10px;
  }
  html body header nav .logoNav span {
    font-family: "Poppins";
    font-size: 17px;
  }
  html body header nav .logoNav img {
    width: 25px;
    margin: 5px;
  }
  html body header nav .blureado2 {
    filter: blur(5px);
    transition: all 0.5s;
  }
  html body header nav .navMobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }
  html body header nav .navMobile .nav {
    margin: 0px;
  }
  html body header nav .navMobile .nav .navMenu {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 150px;
    height: 100%;
    position: fixed;
    right: -150px;
    margin-right: 0px;
    top: 0;
    background-color: #d1d1d1;
    transition: all 0.5s;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1254901961);
    z-index: 1;
    margin-right: 0px;
  }
  html body header nav .navMobile .nav .navMenu .opcionMenu {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
  }
  html body header nav .navMobile .nav .navMenu .opcionMenu a {
    color: #f7f9f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1254901961);
    font-size: 20px;
    font-weight: 500;
  }
  html body header nav .navMobile .nav .blureado2 {
    filter: blur(5px);
    transition: all 0.5s;
  }
  html body header nav .navMobile .nav .show {
    right: 0px;
  }
  html body header nav .navMobile #carrito {
    margin-right: 0px;
  }
  html body header nav .navMobile .show {
    right: 0px;
  }
  html body header nav .navMobile .menuContainer {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #f7f9f9;
    margin-right: 20px;
    transition: 0.5s;
    z-index: 2;
  }
  html body header nav .navMobile .opacity {
    transition: 1s;
    opacity: 50%;
    color: #a3a3a3;
  }
  html body header .irArriba {
    position: fixed;
    z-index: 50;
  }
}
body main .sliderContainer {
  width: 100%;
  height: 400px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1882352941);
  overflow: hidden;
  position: relative;
}
body main .sliderContainer .slider {
  width: 300%;
  height: 100%;
  display: flex;
  transition: 1s all ease;
}
body main .sliderContainer .slider .sliderSection {
  width: 33.3333333333%;
  height: 100%;
  position: relative;
}
body main .sliderContainer .slider .sliderSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
body main .sliderContainer .slider .sliderSection .textTitle01 {
  width: 400px;
  position: absolute;
  top: 5%;
  left: 7%;
  line-height: 50px;
  font-size: 50px;
}
body main .sliderContainer .slider .sliderSection .textTitle01 p {
  color: #fffef4;
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
}
body main .sliderContainer .slider .sliderSection .text01 {
  max-width: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
body main .sliderContainer .slider .sliderSection .text01 p {
  color: #fffef4;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
  padding-right: 20px;
  text-align: justify;
  line-height: 17px;
}
body main .sliderContainer .slider .sliderSection .textTitle02 {
  width: 400px;
  position: absolute;
  top: 5%;
  left: 7%;
  line-height: 50px;
  font-size: 50px;
}
body main .sliderContainer .slider .sliderSection .textTitle02 p {
  color: #fffef4;
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
}
body main .sliderContainer .slider .sliderSection .text02 {
  max-width: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
body main .sliderContainer .slider .sliderSection .text02 p {
  color: #fffef4;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
  padding-right: 20px;
  text-align: justify;
  line-height: 17px;
}
body main .sliderContainer .slider .sliderSection .textTitle03 {
  width: 400px;
  position: absolute;
  top: 5%;
  left: 7%;
  line-height: 50px;
  font-size: 50px;
}
body main .sliderContainer .slider .sliderSection .textTitle03 p {
  color: #fffef4;
  text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
}
body main .sliderContainer .slider .sliderSection .text03 {
  max-width: 50%;
  position: absolute;
  bottom: 10%;
  left: 50%;
}
body main .sliderContainer .slider .sliderSection .text03 p {
  color: #fffef4;
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
  padding-right: 20px;
  text-align: justify;
  line-height: 17px;
}
body main .sliderContainer .btnLeft,
body main .sliderContainer .btnRight {
  display: flex;
  position: absolute;
  top: 45%;
  font-size: 1.5rem;
  background-color: rgba(233, 233, 233, 0.1882352941);
  padding: 5px;
  font-weight: 900;
  cursor: pointer;
  color: rgba(73, 72, 72, 0.5058823529);
  transform: translate(0, -50%);
  transition: background-color 0.5s ease, color 0.2s ease;
  user-select: none;
}
body main .sliderContainer .btnLeft:hover,
body main .sliderContainer .btnRight:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
}
body main .sliderContainer .btnLeft:active,
body main .sliderContainer .btnRight:active {
  color: white;
}
body main .sliderContainer .btnLeft {
  left: 10px;
  display: flex;
  justify-content: center;
  width: 35px;
  border-radius: 50%;
}
body main .sliderContainer .btnRight {
  display: flex;
  justify-content: center;
  width: 35px;
  right: 10px;
  border-radius: 50%;
}

@media (max-width: 737px) {
  body main .sliderContainer {
    width: 100%;
    height: 91vh;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1882352941);
    overflow: hidden;
    position: relative;
  }
  body main .sliderContainer .slider {
    width: 300%;
    height: 100%;
    display: flex;
    transition: 1s all ease;
  }
  body main .sliderContainer .slider .sliderSection {
    width: 33.3333333333%;
    height: 100%;
  }
  body main .sliderContainer .slider .sliderSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  body main .sliderContainer .slider .sliderSection .textTitle01 {
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    line-height: 50px;
    font-size: 50px;
  }
  body main .sliderContainer .slider .sliderSection .textTitle01 p {
    color: #f7f9f9;
    text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
  }
  body main .sliderContainer .slider .sliderSection .text01 {
    max-width: 90%;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  body main .sliderContainer .slider .sliderSection .text01 p {
    color: #f7f9f9;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
    padding-right: 20px;
    text-align: justify;
    line-height: 20px;
  }
  body main .sliderContainer .slider .sliderSection .textTitle02 {
    width: 90%;
    position: absolute;
    top: 5%;
    left: 7%;
    line-height: 50px;
    font-size: 50px;
  }
  body main .sliderContainer .slider .sliderSection .textTitle02 p {
    color: #f7f9f9;
    text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
  }
  body main .sliderContainer .slider .sliderSection .text02 {
    max-width: 100%;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  body main .sliderContainer .slider .sliderSection .text02 p {
    color: #f7f9f9;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
    padding-right: 20px;
    text-align: justify;
    line-height: 20px;
  }
  body main .sliderContainer .slider .sliderSection .textTitle03 {
    width: 90%;
    position: absolute;
    top: 5%;
    left: 7%;
    line-height: 50px;
    font-size: 50px;
  }
  body main .sliderContainer .slider .sliderSection .textTitle03 p {
    color: #f7f9f9;
    text-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5019607843);
  }
  body main .sliderContainer .slider .sliderSection .text03 {
    max-width: 100%;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  body main .sliderContainer .slider .sliderSection .text03 p {
    color: #f7f9f9;
    text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.5019607843);
    padding-right: 20px;
    text-align: justify;
    line-height: 20px;
  }
  body main .sliderContainer .btnLeft,
  body main .sliderContainer .btnRight {
    display: flex;
    position: absolute;
    top: 45%;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3764705882);
    padding: 5px;
    font-weight: 900;
    cursor: pointer;
    color: rgba(73, 72, 72, 0.5058823529);
    transform: translate(0, -50%);
    transition: background-color 0.5s ease, color 0.2s ease;
    user-select: none;
  }
  body main .sliderContainer .btnLeft:hover,
  body main .sliderContainer .btnRight:hover {
    background-color: rgba(209, 209, 209, 0.502);
  }
  body main .sliderContainer .btnLeft:active,
  body main .sliderContainer .btnRight:active {
    color: white;
  }
  body main .sliderContainer .btnLeft {
    left: 10px;
    display: flex;
    justify-content: center;
    width: 35px;
    border-radius: 50%;
  }
  body main .sliderContainer .btnRight {
    display: flex;
    justify-content: center;
    width: 35px;
    right: 10px;
    border-radius: 50%;
  }
}
body main .sobreNosotros {
  width: 100%;
  height: 100%;
}
body main .sobreNosotros h3 {
  color: #707070;
  font-size: 30px;
  padding: 10px;
}
body main .sobreNosotros .imgContainer01 {
  width: 100%;
  position: relative;
}
body main .sobreNosotros .imgContainer01 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 20% 30%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
}
body main .sobreNosotros .imgContainer01 h4 {
  text-align: center;
  color: #fffef4;
  text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
  padding: 15px;
  font-size: 28px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
body main .sobreNosotros .higieneInfo01 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body main .sobreNosotros .higieneInfo01 .info {
  width: 30%;
  height: 100%;
  margin: 20px;
}
body main .sobreNosotros .higieneInfo01 .info h5 {
  color: #707070;
  font-size: 18px;
}
body main .sobreNosotros .higieneInfo01 .info p {
  color: #a3a3a3;
  font-size: 14px;
  text-align: justify;
  line-height: 1.3;
}
body main .sobreNosotros .imgContainer02 {
  width: 100%;
  position: relative;
}
body main .sobreNosotros .imgContainer02 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 0% 66%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
}
body main .sobreNosotros .imgContainer02 h4 {
  text-align: center;
  color: #fffef4;
  text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
  padding: 15px;
  font-size: 28px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
body main .sobreNosotros .higieneInfo02 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body main .sobreNosotros .higieneInfo02 .info {
  width: 50%;
  height: 100%;
  margin: 20px;
}
body main .sobreNosotros .higieneInfo02 .info h5 {
  color: #707070;
  font-size: 18px;
}
body main .sobreNosotros .higieneInfo02 .info p {
  color: #a3a3a3;
  font-size: 14px;
  text-align: justify;
  line-height: 1.3;
}
body main .sobreNosotros .imgContainer03 {
  width: 100%;
  position: relative;
}
body main .sobreNosotros .imgContainer03 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: 0% 40%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
}
body main .sobreNosotros .imgContainer03 h4 {
  text-align: center;
  color: #fffef4;
  text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
  padding: 15px;
  font-size: 28px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}
body main .sobreNosotros .higieneInfo03 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body main .sobreNosotros .higieneInfo03 .info {
  width: 30%;
  height: 100%;
  margin: 20px;
}
body main .sobreNosotros .higieneInfo03 .info h5 {
  color: #707070;
  font-size: 18px;
}
body main .sobreNosotros .higieneInfo03 .info p {
  color: #a3a3a3;
  font-size: 14px;
  text-align: justify;
  line-height: 1.3;
}

@media (max-width: 737px) {
  body main .sobreNosotros {
    width: 100%;
    height: 100%;
  }
  body main .sobreNosotros h3 {
    color: #707070;
    font-size: 30px;
    padding: 10px;
  }
  body main .sobreNosotros .imgContainer01 {
    width: 100%;
    position: relative;
  }
  body main .sobreNosotros .imgContainer01 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 20% 30%;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  }
  body main .sobreNosotros .imgContainer01 h4 {
    text-align: center;
    color: #fffef4;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
    padding: 15px;
    font-size: 25px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
  }
  body main .sobreNosotros .higieneInfo01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body main .sobreNosotros .higieneInfo01 .info {
    width: 95%;
    height: 100%;
    margin: 5px;
  }
  body main .sobreNosotros .higieneInfo01 .info h5 {
    color: #707070;
    font-size: 18px;
    line-height: 1.1;
  }
  body main .sobreNosotros .higieneInfo01 .info p {
    color: #a3a3a3;
    font-size: 14px;
    text-align: justify;
    line-height: 1.1;
  }
  body main .sobreNosotros .imgContainer02 {
    width: 100%;
    position: relative;
  }
  body main .sobreNosotros .imgContainer02 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 0% 66%;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  }
  body main .sobreNosotros .imgContainer02 h4 {
    text-align: center;
    color: #fffef4;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
    padding: 15px;
    font-size: 28px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
  }
  body main .sobreNosotros .higieneInfo02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  body main .sobreNosotros .higieneInfo02 .info {
    width: 95%;
    height: 100%;
    margin: 5px;
  }
  body main .sobreNosotros .higieneInfo02 .info h5 {
    color: #707070;
    font-size: 18px;
  }
  body main .sobreNosotros .higieneInfo02 .info p {
    color: #a3a3a3;
    font-size: 14px;
    text-align: justify;
    line-height: 1.1;
  }
  body main .sobreNosotros .imgContainer03 {
    width: 100%;
    position: relative;
  }
  body main .sobreNosotros .imgContainer03 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: 0% 40%;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  }
  body main .sobreNosotros .imgContainer03 h4 {
    text-align: center;
    color: #fffef4;
    text-shadow: -2px 2px 1px rgba(0, 0, 0, 0.5019607843);
    padding: 15px;
    font-size: 28px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
  }
  body main .sobreNosotros .higieneInfo03 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  body main .sobreNosotros .higieneInfo03 .info {
    width: 95%;
    height: 100%;
    margin: 5px;
  }
  body main .sobreNosotros .higieneInfo03 .info h5 {
    color: #707070;
    font-size: 18px;
  }
  body main .sobreNosotros .higieneInfo03 .info p {
    color: #a3a3a3;
    font-size: 14px;
    text-align: justify;
    line-height: 1.3;
  }
}
body main .exportacion {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  background-color: #ebebeb;
}
body main .exportacion h3 {
  color: #707070;
  font-size: 30px;
  text-align: left;
}
body main .exportacion .mapContainer {
  display: flex;
}
body main .exportacion .mapContainer .mapTextsContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
}
body main .exportacion .mapContainer .mapTextsContainer p {
  width: 100%;
  padding: 0px 0px 15px 0px;
  color: #a3a3a3;
  display: flex;
  align-items: center;
  line-height: 1;
}
body main .exportacion .mapContainer #map {
  margin: 10px;
  width: 60%;
  height: 300px;
  border: solid #f7f9f9 4px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  border-radius: 50%;
}
body main .exportacion .mapContainer #map .gm-ui-hover-effect {
  display: none !important;
}
body main .exportacion .mapContainer #map .gm-style-iw {
  padding-inline: auto;
  padding-inline-start: 0px;
  justify-content: center;
  color: #a3a3a3;
  height: 30px;
}
body main .exportacion .mapContainer #map .gm-style-iw-tc::after {
  width: 15px;
  left: 5px;
}
body main .exportacion .mapContainer #map .gm-style-iw-chr {
  display: none;
}
body main .exportacion .mapContainer #map .gmnoprint {
  display: none;
}
body main .exportacion:focus, body main .exportacion:active {
  outline: none;
}

@media (max-width: 737px) {
  body main .exportacion {
    padding: 0px;
    padding-top: 10px;
  }
  body main .exportacion .mapContainer {
    display: block;
  }
  body main .exportacion .mapContainer .mapTextsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main .exportacion .mapContainer .mapTextsContainer h3 {
    color: #707070;
    font-size: 30px;
    text-align: left;
    margin: 0px;
  }
  body main .exportacion .mapContainer .mapTextsContainer p {
    width: 95%;
    padding: 0px;
    color: #a3a3a3;
    display: flex;
    align-items: center;
    line-height: 1;
    margin: 5px;
    text-align: justify;
  }
  body main .exportacion .mapContainer #map {
    margin: 10px;
    width: 95%;
    height: 300px;
    border: solid #f7f9f9 4px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
    border-radius: 0%;
    margin-bottom: 25px;
  }
}
body main .form {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #ebebeb;
}
body main .form img {
  position: absolute;
  width: 480px;
  right: -60px;
  top: -40px;
  z-index: 0;
  opacity: 15%;
}
body main .form .hablemos {
  width: 50%;
  padding: 20px 20px 0px 100px;
}
body main .form .hablemos h3 {
  font-size: 30px;
  color: #707070;
}
body main .form .hablemos p {
  margin-top: 10px;
  line-height: 18px;
  color: #a3a3a3;
  line-height: 1.2;
}
body main .form .formInputs {
  width: 50%;
}
body main .form .formInputs form {
  padding-top: 25px;
}
body main .form .formInputs form .input {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
body main .form .formInputs form .input label {
  width: 100%;
  color: #707070;
  padding: 12px 0px 4px 0px;
  text-transform: uppercase;
  font-size: 12px;
}
body main .form .formInputs form .input input {
  width: 70%;
  height: 15px;
  background-color: #f7f9f9;
  outline: none;
  border: none;
  border-radius: 3px;
  height: 25px;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1254901961);
  padding-left: 5px;
}
body main .form .formInputs form .buttonContainer {
  padding: 15px 0px 4px 50px;
}
body main .form .formInputs form .buttonContainer button {
  border: none;
  background-color: #d1d1d1;
  border-radius: 3px;
  width: 70%;
  cursor: pointer;
  color: #ebebeb;
  transition: 1s;
  outline: none;
}
body main .form .formInputs form .buttonContainer button:hover {
  background-color: #a3a3a3;
}

@media (max-width: 737px) {
  body main .form {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: block;
    position: relative;
    overflow: hidden;
  }
  body main .form img {
    position: absolute;
    width: 410px;
    right: -150px;
    top: 150px;
    z-index: -1;
    opacity: 20%;
  }
  body main .form .hablemos {
    width: 100%;
    padding: 0px 20px 20px 20px;
  }
  body main .form .hablemos span {
    font-size: 25px;
    color: #707070;
  }
  body main .form .hablemos p {
    margin-top: 10px;
    line-height: 18px;
    color: #a3a3a3;
  }
  body main .form .formInputs {
    width: 100%;
    padding: 0px 20px 30px 20px;
  }
  body main .form .formInputs form {
    padding-top: 0px;
  }
  body main .form .formInputs form .input {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    justify-content: center;
  }
  body main .form .formInputs form .input label {
    width: 100%;
    color: #707070;
    padding: 8px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 12px;
  }
  body main .form .formInputs form .input input {
    width: 100%;
    height: 15px;
    background-color: #f7f9f9;
    outline: none;
    border: none;
    border-radius: 3px;
    height: 30px;
    box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.1254901961);
  }
  body main .form .formInputs form .buttonContainer {
    padding: 12px 0px 0px 0px;
    text-align: right;
  }
  body main .form .formInputs form .buttonContainer button {
    border: none;
    background-color: #d1d1d1;
    border-radius: 3px;
    width: 50%;
    height: 25px;
    cursor: pointer;
    color: #ebebeb;
    transition: 1s;
    outline: none;
  }
  body main .form .formInputs form .buttonContainer button:hover {
    background-color: #a3a3a3;
  }
}
body main .productosContainer {
  width: 100%;
  height: 100%;
  border: #ebebeb solid 1px;
  padding-bottom: 30px;
  /* Personalizar la barra de desplazamiento */
  /* Fondo de la barra de desplazamiento */
  /* La barra de desplazamiento misma */
  /* Cambio de color cuando el mouse pasa sobre la barra */
}
body main .productosContainer h3 {
  font-size: 30px;
  color: #707070;
  margin: 10px 45px;
}
body main .productosContainer .productos {
  display: flex;
  justify-content: center;
  width: 100%;
}
body main .productosContainer .productos .productosCategoriasContainer {
  width: 30%;
  height: 81vh;
  border-radius: 20px 0px 0px 20px;
  border: solid 5px #d1d1d1;
  padding: 10px;
  background-color: #f7f9f9;
  overflow: hidden;
}
body main .productosContainer .productos .productosCategoriasContainer .todos {
  width: 70%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: #d1d1d1;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #f7f9f9;
  border: solid 1px #ebebeb;
  margin-bottom: 5px;
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias {
  overflow-y: auto;
  overflow-x: hidden;
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownBtn {
  width: 70%;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  background-color: #d1d1d1;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #f7f9f9;
  border: solid 1px #ebebeb;
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownBtn:hover {
  background-color: #d1d1d1;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownBtn img {
  width: 30px;
  transform: translateY(5px);
  filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(180deg) brightness(70%);
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownContent {
  width: 100%;
  margin: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out, padding 0.5s ease-in-out;
  padding: 0 10px;
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownContent ul {
  padding: 0;
  margin: 5;
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownContent ul li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
  border-radius: 6px;
  margin: 5px 0;
  color: #707070;
  border: solid 0.5px #ebebeb;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1254901961);
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownContent ul li:hover {
  background-color: #ebebeb;
  padding-left: 10px;
}
body main .productosContainer .productos .productosCategoriasContainer .productosCategorias.active .dropDownContent {
  max-height: 300px;
  padding: 10px;
}
body main .productosContainer .productos .productosListarContainer {
  width: 60%;
  height: 81vh;
  border-radius: 0px 20px 20px 0px;
  background-color: #d1d1d1;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1254901961);
  border-top: solid 5px #d1d1d1;
  border-bottom: solid 5px #d1d1d1;
  border-right: solid 5px #d1d1d1;
  border-left: none;
  overflow-x: auto;
}
body main .productosContainer .productos .productosListarContainer .productosListar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  margin: 10px;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer {
  border: solid 0.5px #a3a3a3;
  border-radius: 5px;
  width: 150px;
  height: 170px;
  margin: 5px;
  overflow: hidden;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .imgContainer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1254901961);
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .imgContainer img {
  width: 90%;
  transition: all 0.5s;
  filter: drop-shadow(-1px 1px 6px rgba(0, 0, 0, 0.3137254902));
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer:hover {
  background-color: #d1d1d1;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer:hover .img {
  transform: scale(1.05);
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo {
  background-color: #ebebeb;
  padding: 5px;
  line-height: 1;
  height: 100%;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .nombreProducto {
  margin-bottom: 5px;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 {
  display: flex;
  justify-content: space-between;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer {
  display: flex;
  width: 80%;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer .precio {
  color: green;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer .xKilo {
  padding-left: 5px;
  color: #727272;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer .xKilo .fa-solid {
  font-size: 9px;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .fa-cart-plus {
  color: #218838;
  transition: 0.2s;
  cursor: pointer;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .fa-cart-plus:hover {
  color: #26bd49;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .fa-cart-plus:active {
  color: #17de46;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .logoContainer {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .logoContainer .logo {
  width: 100%;
  filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(180deg) brightness(70%);
}
body main .productosContainer .productos .productosListarContainer .noHayProductos {
  width: 100%;
  height: 72vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .productosContainer .productos .productosListarContainer .noHayProductos p {
  color: #707070;
}
body main .productosContainer ::-webkit-scrollbar {
  width: 9px; /* Ancho de la barra vertical */
  height: 9px; /* Altura de la barra horizontal (si existe) */
  display: block;
}
body main .productosContainer ::-webkit-scrollbar-track {
  background: #a3a3a3; /* Color de fondo del track */
  border-radius: 5px; /* Bordes redondeados */
  z-index: 0;
}
body main .productosContainer ::-webkit-scrollbar-thumb {
  background-color: #a90a0a; /* Color de la barra */
  border-radius: 10px; /* Bordes redondeados para suavidad */
  border: 1px solid transparent; /* Espacio entre el scrollbar y el track */
  background-clip: padding-box; /* Asegura que el borde sea visible */
}
body main .productosContainer ::-webkit-scrollbar-thumb:hover {
  background-color: #900909; /* Cambia el color cuando está en hover */
  cursor: pointer;
}

@media (max-width: 737px) {
  body main .productosContainer {
    /* Personalizar la barra de desplazamiento */
    /* Fondo de la barra de desplazamiento */
    /* La barra de desplazamiento misma */
    /* Cambio de color cuando el mouse pasa sobre la barra */
  }
  body main .productosContainer h3 {
    font-size: 28px;
    color: #707070;
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  body main .productosContainer .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body main .productosContainer .productos .productosCategoriasContainer {
    width: 80%;
    height: 12vh;
    border-radius: 20px 20px 0px 0px;
    border: solid 5px #d1d1d1;
    padding: 5px;
    background-color: #f7f9f9;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main .productosContainer .productos .productosCategoriasContainer .todos {
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  body main .productosContainer .productos .productosCategoriasContainer .productosCategorias {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    border: solid 1px red;
    width: 100%;
  }
  body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownBtn {
    width: 33%;
    padding: 3px;
    display: flex;
    margin: 5px;
  }
  body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownBtn:hover {
    background-color: #d1d1d1;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownBtn img {
    width: 30px;
    transform: translateY(5px);
    filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(180deg) brightness(70%);
    transform: translateY(1px);
  }
  body main .productosContainer .productos .productosCategoriasContainer .productosCategorias .dropDownContent {
    display: none;
  }
  body main .productosContainer .productos .productosListarContainer {
    width: 60%;
    height: 81vh;
    border-radius: 0px 20px 20px 0px;
    background-color: #d1d1d1;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.1254901961);
    border-top: solid 5px #d1d1d1;
    border-bottom: solid 5px #d1d1d1;
    border-right: solid 5px #d1d1d1;
    border-left: none;
    overflow-x: auto;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    margin: 10px;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer {
    border: solid 0.5px #a3a3a3;
    border-radius: 5px;
    width: 150px;
    height: 170px;
    margin: 5px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .imgContainer {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1254901961);
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .imgContainer img {
    width: 90%;
    transition: all 0.5s;
    filter: drop-shadow(-1px 1px 6px rgba(0, 0, 0, 0.3137254902));
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer:hover {
    background-color: #d1d1d1;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer:hover .img {
    transform: scale(1.05);
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo {
    background-color: #ebebeb;
    padding: 5px;
    line-height: 1;
    height: 100%;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .nombreProducto {
    margin-bottom: 5px;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 {
    display: flex;
    justify-content: space-between;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer {
    display: flex;
    width: 80%;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer .precio {
    color: green;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer .xKilo {
    padding-left: 5px;
    color: #727272;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .precioContainer .xKilo .fa-solid {
    font-size: 9px;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .fa-cart-plus {
    color: #218838;
    transition: 0.2s;
    cursor: pointer;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .fa-cart-plus:hover {
    color: #26bd49;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .productoInfo .productoInfo2 .fa-cart-plus:active {
    color: #17de46;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .logoContainer {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
  }
  body main .productosContainer .productos .productosListarContainer .productosListar .productoContainer .logoContainer .logo {
    width: 100%;
    filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(180deg) brightness(70%);
  }
  body main .productosContainer .productos .productosListarContainer .noHayProductos {
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .productosContainer .productos .productosListarContainer .noHayProductos p {
    color: #707070;
  }
  body main .productosContainer ::-webkit-scrollbar {
    width: 9px; /* Ancho de la barra vertical */
    height: 9px; /* Altura de la barra horizontal (si existe) */
    display: block;
  }
  body main .productosContainer ::-webkit-scrollbar-track {
    background: #a3a3a3; /* Color de fondo del track */
    border-radius: 5px; /* Bordes redondeados */
    z-index: 0;
  }
  body main .productosContainer ::-webkit-scrollbar-thumb {
    background-color: #a90a0a; /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados para suavidad */
    border: 1px solid transparent; /* Espacio entre el scrollbar y el track */
    background-clip: padding-box; /* Asegura que el borde sea visible */
  }
  body main .productosContainer ::-webkit-scrollbar-thumb:hover {
    background-color: #900909; /* Cambia el color cuando está en hover */
    cursor: pointer;
  }
}
body .irArriba {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 85%;
  right: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
  font-size: 38px;
  color: #707070;
  cursor: pointer;
}
body .mostrar {
  pointer-events: auto;
  opacity: 1;
}

@media (max-width: 737px) {
  body .irArriba {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0px;
    right: -45px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    font-size: 38px;
  }
  body .mostrar {
    right: 10px;
    pointer-events: auto;
    opacity: 1;
    transition: right 1s ease;
  }
}
body footer {
  width: 100%;
  height: auto;
  background-color: #a3a3a3;
  padding: 5px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1254901961);
  border-top: solid 0.5px #fffef4;
}
body footer .primerBloque {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .primerBloque .logoContainer {
  width: auto;
  display: flex;
  margin: 20px;
  transform: translateY(5px);
}
body footer .primerBloque .logoContainer .logo {
  width: 40px;
  transform: translateY(-2px);
}
body footer .primerBloque .logoContainer .logoText {
  display: flex;
}
body footer .primerBloque .logoContainer .logoText span {
  font-family: "Poppins";
  font-size: 20px;
  color: #ebebeb;
  margin-left: 5px;
}
body footer .primerBloque .tercerBloque1 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
body footer .primerBloque .tercerBloque1 .iso {
  width: 70px;
}
body footer .primerBloque .tercerBloque1 .senasa {
  width: 100px;
  margin-left: 20px;
  transform: translateY(3px);
}
body footer .primerBloque .tercerBloque1 .bpa {
  width: 70px;
  transform: translateY(-8px);
  margin-left: 20px;
}
body footer .lineaDivisoria {
  width: 95%;
  background-color: #727272;
  border: 0;
  border-top: solid 1px #d1d1d1;
  margin: auto;
}
body footer .segundoBloque {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .segundoBloque .redesContainer {
  width: 50%;
  margin-left: 20px;
}
body footer .segundoBloque .redesContainer i {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: #ebebeb;
}
body footer .segundoBloque .redesContainer i:hover {
  color: #fffef4;
  transform: translateY(-2px);
}
body footer .segundoBloque .bloque02Text {
  width: 50%;
  justify-content: flex-end;
}
body footer .segundoBloque .bloque02Text ul {
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
}
body footer .segundoBloque .bloque02Text ul li {
  font-size: 12px;
  padding: 5px;
  white-space: nowrap;
  width: auto;
  font-weight: 550;
  cursor: pointer;
  transition: 0.5s;
  color: #ebebeb;
}
body footer .segundoBloque .bloque02Text ul li:hover {
  color: #fffef4;
  transform: translateY(-1.5px);
}
body footer .tercerBloque {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .tercerBloque .direccionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  width: auto;
  transition: 1s ease-in-out;
  font-size: 13px;
}
body footer .tercerBloque .direccionContainer .direccion {
  color: #ebebeb;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
body footer .tercerBloque .direccionContainer .fa-location-dot {
  color: #fffef4;
  font-size: 15px;
  cursor: pointer;
  transform: translateY(-3px);
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
  margin-left: 20px;
}
body footer .tercerBloque .direccionContainer:hover .direccion {
  color: #ebebeb;
  transform: translateY(-1px);
}
body footer .tercerBloque .direccionContainer:hover .fa-location-dot {
  transition: 0.5s ease-in-out;
  color: rgb(156, 5, 5);
  transform: translateY(-2px);
}
body footer .tercerBloque .tercerBloque2 {
  width: auto;
  display: flex;
}
body footer .tercerBloque .tercerBloque2 ul {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
body footer .tercerBloque .tercerBloque2 ul li {
  font-size: 10px;
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
  color: #d1d1d1;
  transition: 0.5s;
}
body footer .tercerBloque .tercerBloque2 ul li:hover {
  transform: translateY(-2px);
  color: #ebebeb;
}

/*# sourceMappingURL=styles.css.map */
