body {
  transition: all 2s;
  #blureado {
    transition: all 2s;
    #blureado2 {
      transition: all 2s;
    }
    .blureado2 {
      transition: all 2s;

      filter: blur(5px);
    }
  }
  .blureado {
    filter: blur(5px);
  }
}
