body {
  main {
    .exportacion {
      // border: solid 1px red;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 0;
      background-color: $grisMasClaro;
      h3 {
        color: $grisMasOscuro;
        font-size: 30px;
        text-align: left;
      }
      .mapContainer {
        display: flex;
        .mapTextsContainer {
          width: 40%;
          display: flex;
          flex-direction: column;
          h3 {
          }
          p {
            width: 100%;
            padding: 0px 0px 15px 0px;
            color: $grisOscuro;
            display: flex;
            align-items: center;
            line-height: 1;
          }
        }
        #map {
          margin: 10px;
          width: 60%;
          height: 300px;
          border: solid $blanco 4px;
          box-shadow: $shadow;
          border-radius: 50%;
          .gm-ui-hover-effect {
            display: none !important;
          }
          .gm-style-iw {
            padding-inline: auto;
            padding-inline-start: 0px;
            justify-content: center;
            color: $grisOscuro;
            height: 30px;
            // width: inherit;
          }
          .gm-style-iw-tc::after {
            width: 15px;
            left: 5px;
          }
          .gm-style-iw-chr {
            display: none;
          }
          .gmnoprint {
            display: none;
          }
        }
      }
      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    main {
      .exportacion {
        padding: 0px;
        // border: solid 5px red;
        .mapContainer {
          display: block;
          // border: solid 1px blue;
          .mapTextsContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
              color: $grisMasOscuro;
              font-size: 30px;
              text-align: left;
              margin: 0px;
            }
            p {
              width: 95%;
              padding: 0px;
              color: $grisOscuro;
              display: flex;
              align-items: center;
              line-height: 1;
              margin: 5px;
              text-align: justify;

            }
          }
          #map {
            margin: 10px;
            width: 95%;
            height: 300px;
            border: solid $blanco 4px;
            box-shadow: $shadow;
            border-radius: 0%;
          }
        }
      }
    }
  }
}
