body {
  main {
    .productosContainer {
      width: 100%;
      height: 100vh;
      background-color: $grisMasClaro;

      h3 {
        font-size: 30px;
        color: $grisMasOscuro;
        margin: 5px 20px;
      }

      .productos {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 95%;

        .productosCategorias {
          width: 30%;
          height: 80vh;
          border-radius: 20px 0px 0px 20px;
          border: solid 1px $grisClaro;
          padding: 10px;
          background-color: $blanco;
          .dropDownBtn {
            width: 70%;
            padding: 5px;
            font-size: 15px;
            cursor: pointer;
            background-color: $grisClaro;
            border-radius: 10px;
            border: none;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            color: $blanco;
            border: solid 1px $grisMasClaro;
            &:hover {
              background-color: $grisClaro;
              transform: translateY(-1px);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }
          }

          .dropDownContent {
            //   border: solid 1px red;
            width: 100%;
            margin: 5px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-in-out, padding 0.5s ease-in-out;
            padding: 0 10px;
            ul {
              padding: 0;
              margin: 5;
              li {
                // padding: 10px 0;
                list-style: none;
                text-align: center;
                cursor: pointer;
                background-color: white;
                transition: background-color 0.3s ease, padding-left 0.3s ease;
                border-radius: 6px;
                margin: 5px 0;
                color: $grisMasOscuro;
                border: solid 0.5px $grisMasClaro;
                box-shadow: inset 0px 0px 5px 1px #00000020;
                &:hover {
                  background-color: $grisClaro;
                  padding-left: 10px;
                }
              }
            }
          }

          &.active .dropDownContent {
            max-height: 300px; // Ajustar según el contenido
            padding: 10px;
          }
        }

        .productosListar {
          width: 70%;
          height: 80vh;
          border-radius: 0px 20px 20px 0px;
          border: solid 1px $grisClaro;
        }
      }
    }
  }
}
