body {
  main {
    .productosContainer {
      width: 100%;
      height: 100%;
      background-color: $grisMasClaro;
      border: $grisMasClaro solid 1px;
      padding-bottom: 30px;
      h3 {
        font-size: 30px;
        color: $grisMasOscuro;
        margin: 10px 45px;
      }

      .productos {
        display: flex;
        justify-content: center;
        width: 100%;
        .productosCategorias {
          width: 30%;
          height: 81vh;
          border-radius: 20px 0px 0px 20px;
          border: solid 5px $grisClaro;
          padding: 10px;
          background-color: $blanco;
          .dropDownBtn {
            width: 70%;
            padding: 5px;
            font-size: 15px;
            cursor: pointer;
            background-color: $grisClaro;
            border-radius: 10px;
            border: none;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            color: $blanco;
            border: solid 1px $grisMasClaro;
            &:hover {
              background-color: $grisClaro;
              transform: translateY(-1px);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }
          }

          .dropDownContent {
            width: 100%;
            margin: 5px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-in-out, padding 0.5s ease-in-out;
            padding: 0 10px;
            ul {
              padding: 0;
              margin: 5;
              li {
                list-style: none;
                text-align: center;
                cursor: pointer;
                background-color: white;
                transition: background-color 0.3s ease, padding-left 0.3s ease;
                border-radius: 6px;
                margin: 5px 0;
                color: $grisMasOscuro;
                border: solid 0.5px $grisMasClaro;
                box-shadow: inset 0px 0px 5px 1px #00000020;
                &:hover {
                  background-color: $grisClaro;
                  padding-left: 10px;
                }
              }
            }
          }

          &.active .dropDownContent {
            max-height: 300px; // Ajustar según el contenido
            padding: 10px;
          }
        }

        .productosListarContainer {
          width: 60%;
          height: 81vh;
          border-radius: 0px 20px 20px 0px;
          background-color: $grisClaro;
          box-shadow: inset 0px 0px 6px 2px #00000020;
          border-top: solid 5px $grisClaro;
          border-bottom: solid 5px $grisClaro;
          border-right: solid 5px $grisClaro;
          border-left: none;
          overflow-x: auto;
          // border: solid 1px red;
          z-index: 2;
          .productosListar {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
            justify-content: center;
            margin: 10px;
            .productoContainer {
              border: solid 1px $grisOscuro;
              border-radius: 5px;
              width: 150px;
              height: 170px;
              margin: 5px;
              overflow: hidden;
              box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
              transition: all 0.3s ;
              cursor: pointer;
              .imgContainer {
                width: 100%;
                height: 120px;
                // border: solid 1px red;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $grisMasClaro;
                box-shadow: inset 0px 0px 5px 1px #00000020;
                // background: radial-gradient(circle, #ffffff, #f7f7f7, #e0e0e0, #e6e1e1);

                img {
                  width: 90%;
                  transition: all 0.7s;
                }
              }
              &:hover {
                background-color: $grisClaro;
                transform: translateY(-1px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                img {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
      }
      /* Personalizar la barra de desplazamiento */
      ::-webkit-scrollbar {
        width: 9px; /* Ancho de la barra vertical */
        height: 9px; /* Altura de la barra horizontal (si existe) */
      }

      /* Fondo de la barra de desplazamiento */
      ::-webkit-scrollbar-track {
        background: $grisOscuro; /* Color de fondo del track */
        border-radius: 5px; /* Bordes redondeados */
        z-index: 0;
      }

      /* La barra de desplazamiento misma */
      ::-webkit-scrollbar-thumb {
        background-color: #a90a0a; /* Color de la barra */
        border-radius: 10px; /* Bordes redondeados para suavidad */
        border: 1px solid transparent; /* Espacio entre el scrollbar y el track */
        background-clip: padding-box; /* Asegura que el borde sea visible */
      }

      /* Cambio de color cuando el mouse pasa sobre la barra */
      ::-webkit-scrollbar-thumb:hover {
        background-color: #900909; /* Cambia el color cuando está en hover */
        cursor: pointer;
      }
    }
  }
}
